:root{
    /* Albawani Core Brand from https://www.albawani.net/ */
    --albawani-green-main: #0A6836;
    --albawani-green-secondary:#0F8A48;
    --saudi-gold-accent:#D4A017;

    --bg-main: #F9F9F9;
    --bg-secondary: #FFFFFF;
    --text-primary: #212121;
    --text-secondary: #569569;
    --border-color: rgba(0,0,0,0.15);

    --footer-bg: #333644;
    --footer-text: #BFBFBF;

    /* Alert and Pop-ups*/
    --success-feedback: #28A745;
    --warning-feedback: #FFC107;
    --error-feedback: #DC3545;

    /* Sidebar */
    --sidebar-width-open: 16rem;

    /* buttons */
    --toggle-border-radius: 24rem;
    --button-hover-bg: rgba(0,0,0,0.15);
    
    --transition-duration: 250ms;
    --border-radius-lg: 0.5rem
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.app-container {
    display: grid;
    grid-template-columns: var(--sidebar-width-open) 1fr;
    height: 100vh;
}

.sidebar{
    width: var(--sidebar-width-open);
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    border-right: 0.07rem solid var(--border-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.logo-container img {
    margin: 1.25rem 0rem;
    width: 15rem;
    object-fit: contain;
}

.sidebar-nav {
    width: 100%;
    display: flex;
    flex: 1 1 0%;
}

.sidebar-nav ul {
    width: 100%;
    list-style-type: none;
}

.sidebar-nav a.nav-link{
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    transition: background-color var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
    color: var(--text-primary);
    text-decoration: none;
}

.sidebar-nav a.nav-link:hover{
    background-color: var(--button-hover-bg);
}

.active-indicator{
    display: none;
}

.sidebar-nav li.active a.nav-link {
    font-weight: 700;
    background-color: var(--button-hover-bg);
}

.sidebar-nav li.active .active-indicator {
    display: block; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.375rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-image: linear-gradient(to bottom, #0A6836, #0F8A48);
}
