<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <noscript>
          <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        </noscript>
    
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>

    <body>

        <aside class="sidebar">

          <div class="logo-container">
            <img src="{{ url_for('static', filename='assets/logo-labeled.png') }}" alt="Al Bawani Logo">
          </div>

          <nav class="sidebar-nav">
            <ul>

              <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="/" class="nav-link">
                  <span class="active-indicator"></span>
                  <span class="link-text">Dashboard</span>
                </a>
              </li>

              <li class="{% if request.path == '/attendance' %}active{% endif %}">
                <a href="/attendance" class="nav-link">
                  <span class="active-indicator"></span>
                  <span class="link-text">Attendance</span>
                </a>
              </li>

              <li class="{% if request.path == '/employees' %}active{% endif %}">
                <a href="/employees" class="nav-link">
                  <span class="active-indicator"></span>
                  <span class="link-text">Employees</span>
                </a>
              </li> 

            </ul>

          </nav>
        </aside>

        <main>
          <header class = "header-container">
            <h1 class = "header-text">{% block header %}{% endblock %}</h1>
            <span class="header-seperator">|</span>
            <span class = "date-updated">Last Updated: {% block date %}{% endblock %}</span>
          </header>

            {% block content %}{% endblock %}
        </main> 

    </body>
     
      
</html>
